/*---------------------------Slideshow Classes---------------------------------------*/

#slideshow {
	z-index: 1;
	margin-top: 15px;
	margin-bottom: -50px;
	margin-left: -5px;
	height: 310px;
	background: url(../images/slider.png) left no-repeat;
}

#slideshow img {
	border: 0;
}

#slideshow #slideshow_violator {
	position: relative;
	z-index: 200;
	float: left;
	width: 994px;
	height: 50px;
}

#slideshow #slideshow_violator #project_caption {
	display: none;
	float: left;
	padding: 5px 10px;
	width: auto;
	background: transparent;
	color: #FFFFFF;
	font-weight: normal;
}

#slideshow #slideshow_violator #project_caption div {
	padding: 0 0 0px 0;
	color: #6AB5FF;
	font-weight: normal;
	font-size: 15px;
}

#slideshow #slideshow_violator #project_caption a.title {
	display: block;
	color: #6AB5FF;
	text-decoration: none;
}

#slideshow #slideshow_violator #project_caption a.title:hover {
	text-decoration: underline;
}

#slideshow #slideshow_violator #slide_navigation a {
	display: block;
	float: left;
	overflow: hidden;
	margin-left: 5px;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	cursor: pointer;
}

#slideshow li .slide_caption {
	display: none;
}

#slides {
	position: relative;
	top: 10px;
	width: 678px;
	height: 310px;
}

#slides li {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}