#toplinefooter {
	position: relative;
	margin-top: 15px;
	margin-bottom: -30px;
	width: 100%;
	height: 5px;
	background: url(../images/topline.png) top center repeat-x;
}
#artproject {
	position: relative;
	margin-top: 25px;
	margin-left: 895px;
	width: 265px;
	height: 34px;
	background: url(../images/artproject.png) no-repeat;
}

#logoright {
	float: right;
	margin-top: -20px;
	margin-right: 185px;
	margin-bottom: -30px;
}
.textlogoright {
	padding-right: 20px;
	padding-left: 20px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: $blaze_orange;
	color: $white;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		background: $color_atlantis_approx;
	}
}

.featured-links {	
	margin: 0 auto 10px;
	padding-top: 1px;	
	width: 980px;	
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	background: url(../images/centerfon.png) no-repeat;
	box-shadow: 0 0 7px $black_50;
	@mixin clearfix;
}

.featured-link {
	box-sizing: border-box;
	display: inline-block;
	padding: 30px 10px 30px 150px;
	margin-top: 20px;
	width: 288px;
	height: 161px;	

	&:hover {
		opacity: .5;
	}
}

.featured-link.last {
	background: url(../images/featured-family.png) no-repeat;
}

.featured-link.center {
	background: url(../images/featured-son.png) no-repeat;
}

.featured-link.first {
	background: url(../images/featured-star.png) no-repeat;
}