@define-mixin clearfix {
    &::after {
      display: table;
      clear: both;
      content: "";
    }
}

@define-mixin menu_color $color, $i {
  &:nth-of-type(7n+$(i)) {
		background-color: $(color);
		&:hover {
			background-color: color($(color) whiteness(20%));
		}
    ul {
      background-color: color($(color) whiteness(20%));
      li {
        background-color: color($(color) whiteness(20%));
        &:hover {
          background-color: $(color);
        }
      }
    }

	}
}
