ul.sf-menu {
	display: table;
	margin: 0;
	padding: 0;	
	list-style: none;
	width: 100%;

	li {
		position: relative;
		display: table-cell;
		text-transform: uppercase;			
		white-space: normal;
		transition: background .2s;

		&:hover {			
			transition: none;

			> ul {
				display: block;
			}
		}

		&.sfHover {
			background: $color_hawkes_blue_approx;
			transition: none;

			> ul {
				display: block;
			}
		}

		a {
			display: block;
			box-sizing: border-box;
			min-height: 66px;
			color: $white;
			text-decoration: none;
			
			text-shadow: 1px 1px 1px $black_20;

			&:hover {				
				color: $wild_sand;
			}
		}
	}

	ul {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 99;
		display: none;
		min-width: 12em;
		/**width: 12em;*/
		box-shadow: 2px 4px 5px $black_20;
		padding-bottom: .75em;

		ul {
			top: 0;
			left: 100%;

			li {
				text-transform: none;
			}
		}

		li {
			text-transform: none;
			display: block;
			width: 100%;
			a {
				min-height: .5em;
				padding-top: .4em;
				padding-bottom: .6em; 
			}
		}
	}

	/*> li {
		float: left;
	}*/
	a {
		position: relative;
		display: block;
		padding: .75em 1em;		
		text-decoration: none;
		zoom: 1;
	}
}

.sf-arrows {
	.sf-with-ul {
		padding-right: 2.5em;
		*padding-right: 1em;

		&:after {
			position: absolute;
			top: 50%;
			right: 1em;
			margin-top: -3px;
			width: 0;
			height: 0;
			border: 5px solid transparent;			
			content: '';
		}
	}

	> li {
		> .sf-with-ul:focus:after {
			
		}

		&:hover > .sf-with-ul:after {
			
		}
	}

	ul {
		li {
			> .sf-with-ul:focus:after {
				
			}

			&:hover > .sf-with-ul:after {
				
			}
		}

		.sf-with-ul:after {
			margin-top: -5px;
			margin-right: -3px;
			border-color: transparent;			
		}

		.sfHover > .sf-with-ul:after {			
		}
	}

	> .sfHover > .sf-with-ul:after {
		
	}
}

.menu-item {
	@mixin menu_color $red, 1;
	@mixin menu_color $blaze_orange, 2;
	/* @mixin menu_color $yellow, 3; */
	@mixin menu_color $green, 3;
	@mixin menu_color $cyan, 4;
	@mixin menu_color $blue, 5;
	@mixin menu_color $pink, 6;
	&.last {
		border-top-right-radius: 13px;
	}

	&.first {
		border-top-left-radius: 13px;
	}
}
